@font-face {
  font-family: Neucha;
  src: url(/fonts/Neucha-Regular.ttf);
}

@font-face {
  font-family: Guerrilla;
  src: url(/fonts/Guerrillanormal.ttf);
}

@font-face {
  font-family: Montserrat-700;
  src: url(/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-600;
  src: url(/fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Montserrat-500;
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-400;
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Open-Sans-800;
  src: url(/fonts/Open-Sans/OpenSans-Bold.ttf);
}

body{
  background-color:#D1F3F6;
}

:root {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address__person {
  line-height: 1;
}

.address__phone {
  line-height: 1;
}

.text {
  color: #02404F;
}

.headline-second {
  text-align: center;
}

.text_font-weight_regular {
  font-family: Montserrat-400;
}

.text_font-weight_medium {
  font-family: Montserrat-500;
}

.text_font-weight_semibold {
  font-family: Montserrat-600;
}

.text_font-family_neucha {
  font-family: Neucha;
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-button__bar {
  display: block;
  background-color: #02404F;
}

.button {
  background: #F3C871;
  cursor: pointer;
}

.slogan {
  font-family: Montserrat-500;
  color: white;
}

.text-white {
  color: white;
}

.main-section__cover {
  height: 100vh;
  background: url("/images/png/1200-max/уляна-богданівна-1.png") right calc((100vw - 1200px)/2) bottom 15vh/75vh no-repeat;
}

.section-advantage__cover {
  height: 120vh;
}

.section-advantage__item::before {
  content: url("/images/svg/checkbox.svg");
  padding-right: 20px;
}

.section-advantage__item {
  display: flex;
  align-items: center;
}

.plus {
  background: url("/images/svg/plus.svg");
}

.section-advantage-additional__item {
  display: flex;
}

.text-white_bg_green {
  box-sizing: border-box;
  background: #4BA6AC;
}

.procedure__list {
  display: flex;
  flex-direction: column;
}

.procedure__item {
  display: flex;
  flex-direction: column;
}

.procedure__image {
  width: fit-content;
}

.procedure__image_position_right {
  align-self: flex-end;
}

.comfort__list {
  display: flex;
  flex-direction: column;
}

.comfort__item:nth-child(2n+1) {
  margin-left: auto;
}

.comfort__headline {
  text-align: center;
}

.comfort__text {
  text-align: center;
}

.comfort__text_blob_one {
  background: url("/images/png/1200-max/blob-1.png") center/contain no-repeat;
}

.comfort__text_blob_two {
  background: url("/images/png/1200-max/blob-2.png") center/contain no-repeat;
}

.comfort__text_blob_three {
  background: url("/images/png/1200-max/blob-3.png") center/contain no-repeat;
}

.comfort__photo-one {
  background: url("/images/png/1200-max/сучасна-та-комфортна-стоматологічна-установка-MORITA.png") center/contain no-repeat;
}

.comfort__photo-two {
  background: url("/images/png/1200-max/підбір-зручного-часу-для-вашого-візиту.png") center/contain no-repeat;
}

.comfort__photo-three {
  background: url("/images/png/1200-max/вибір-улюбленого-смаку-полірувального-порошка.png") center/contain no-repeat;
}

.comfort__item {
  display: flex;
  flex-direction: column;
}

.comfort__photo_z-index_up {
  z-index: 1;
}
.comfort__photo_z-index_down {
  z-index: -1;
}

.comfort__headline {
  width: 100%;
}

.doctor__text {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.comment {
  display: flex;
  justify-content: space-between;
}

.comment__arrow-left {
  background: url("/images/svg/arrow.svg") center no-repeat;
}

.comment__main-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment__arrow-right{
  background: url("/images/svg/arrow.svg") center no-repeat;
  transform: scale(-1);
}

.comment__photo-one {
  background: url("https://scontent.fiev21-2.fna.fbcdn.net/v/t1.6435-9/78630413_2530959860524361_3845339586532212736_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=174925&_nc_ohc=52Oo4bU64t8AX_L9rhM&_nc_ht=scontent.fiev21-2.fna&oh=14da10a83f3855375dae9c96769f5a47&oe=60CA00E2");
}

.comment__text {
  text-align: center;
}

.comment-dots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-dot_selected {
  background: url("/images/svg/selected.svg");
}

.comment-dot_unselected {
  background: url("/images/svg/unselected.svg");
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__img {
  display: inline-block;
  background: url("/images/svg/750.svg") center/100px;
}

.price__text {
  text-align: center;
}

.useful__img-one {
  background: url("/images/png/1200-max/busy-man.png") center/contain no-repeat;
}

.useful__img-two {
  background: url("/images/png/1200-max/coffee-woman.png") center/contain no-repeat;
}

.useful__img-three {
  background: url("/images/png/1200-max/pregnant.png") center/contain no-repeat;
}

.useful__img-four {
  background: url("/images/png/1200-max/sweet-tooth.png") center/contain no-repeat;
}

.useful__img-five {
  background: url("/images/png/1200-max/smoking.png") center/contain no-repeat;
}

.useful__img-six {
  background: url("/images/png/1200-max/gourmand.png") center/contain no-repeat;
}

.useful__img-seven {
  background: url("/images/png/1200-max/lazy.png") center/contain no-repeat;
}

.useful__img-eight {
  background: url("/images/png/1200-max/children.png") center/contain no-repeat;
}

.useful__elm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.useful__elms {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.useful__img-tooth {
  background: url("/images/svg/tooth.svg") center/contain no-repeat;
  width: 400px;
  height: 360px;
}

.main__section-headline {
  margin-bottom: 40px;
}

.reason__list {
  display: flex;
  flex-wrap: wrap;
}

.reason__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.reason__item_bg_light {
  background: #6BA2AF;
}

.reason__item_bg_dark {
  background: #124653;
}

.reason__num {
  color:#F3C871;
  font-family: Open-Sans-800;
  font-weight: 500;
}

.result__item {
  display: flex;
  flex-direction: column;
}

.result__item:nth-child(1) {
  align-items: flex-start;
}

.result__item:nth-child(2) {
  align-items: flex-end;
}

.result__item:nth-child(3) {
  align-items: center;
}

.result__item:nth-child(4) {
  align-items: flex-start;
}

.result__item:nth-child(5) {
  align-items: flex-end;
}

.result__item:nth-child(6) {
  align-items: center;
}

.result__item-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result__text {
  background: white;
}

.result__link {
  font-family: Montserrat-700;
  text-decoration: underline;
}

.logos {
  background: white;
  display: flex;
  align-items: stretch;
}

.logo {
  width: 100%;
  height: 100%;
}

.post__text {
  margin: 30px 0 40px;
  text-align: center;
}

.post__list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.footer__block {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.form__input {
  font-family: Montserrat-400;
  font-size: 16px;
}

.footer__form {
  background: white;
}

.footer__item {
  display: flex;
  flex-direction: column;
}

.form__legend {
  text-align: center;
}

.map__img {
  height: 83%;
  border-radius: 20px;
  background: url("/images/jpeg/1200-max/map.jpg") center top/110% no-repeat;
}

.top {
  margin: auto;
  background: url("/images/svg/top.svg");
}

.copyright {
  display: inline-block;
  text-align: center;
}

.text-yellow {
  color: #F29120;
}

.juice {
  font-family: Guerrilla;
  font-size: 20px;
}